:root {
  --bg-color: #ff9500;
  --theme-color-1: #8876e2;
  --theme-color-2: #ffff00;
  --button-color: #cf3f3f;
  --white: #fff;
  --background-color: rgb(221, 137, 137);
  --gap: 10px;
  --number: 2;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.ml-8 {
  margin-left: 8px;
}
